{
  "openapi": "3.1.0",
  "info": {
    "title": "Limex Data Hub",
    "description": "Largest Datasets of Institutional Level Insights and Market Data",
    "version": "0.6"
  },
  "servers": [
    {
      "url": "http://hub.limex.com/v1/"
    }
  ],
  "paths": {
    "/instruments": {
      "get": {
        "tags": ["Market Data"],
        "summary": "Get Instruments",
        "description": "This method retrieves a list of financial instruments, such as stocks, availible in Hub.",
        "operationId": "get_instruments_instruments__get",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          },
          {
            "name": "assets",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "stocks",
              "title": "Assets"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/constituents": {
      "get": {
        "tags": ["Market Data"],
        "summary": "Get Index",
        "description": "Get a list of index constituents. Currently support SP500, DJI",
        "operationId": "get_index_constituents__get",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Token"
            }
          },
          {
            "name": "index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SP500",
              "title": "Index"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
    // Остальные пути аналогично
  },
  "components": {
    "schemas": {
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "type": "array",
            "items": {
              "anyOf": [{
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": ["loc", "msg", "type"],
        "title": "ValidationError"
      }
    }
  }
}
